<div class="btn-group ps-dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@Model.tenkh<i class="fa fa-angle-down"></i></a>
    <ul class="dropdown-menu">
        <li><a href="@Url.Action("XemDaLuu","NguoiDung")"> Đã Lưu</a></li>
        <li><a href="@Url.Action("DangXuat","NguoiDung")"> Đăng Xuất</a></li>
    </ul>
</div>