<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/images/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Login/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Login/main.css">
    <!--===============================================================================================-->
</head>
<body>

    @RenderBody()


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Scripts/login/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/login/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/login/bootstrap.min.js"></script>
    <script src="~/Scripts/login/popper.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/login/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/login/moment.min.js"></script>
    <script src="~/Scripts/login/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/login/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Scripts/login/main.js"></script>

</body>
</html>
